<section>
    
    <div class="div_content">

        <div class="left_side">
            <article>
                <h1>I am Kauan</h1>
                <h2>Bakcend Developer</h2>
            </article>

            <div class="skills">
                <div class="skills_data">
                    <h4>208 +</h4>
                    <h5> Lorem ipsum</h5>
            </div>
        </div>
        </div>

        <div class="right_side">
            <p>a</p>
        </div>




    </div>
    
</section>